/* stylelint-disable at-rule-no-unknown */
.titleBar {
  -webkit-app-region: drag;
  width: 100%;
  height: 50px;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.titleBarText {
  margin-left: 20px;
}

.titleBarButton {
  float: right;
  border: none;
  height: 100%;
  width: 50px;
  -webkit-app-region: no-drag;
}

.close {
  @extend .titleBarButton;

  background-color: tomato;
  &:hover {
    background-color: lighten($color: tomato, $amount: 10);
  }
}

.maximize {
  @extend .titleBarButton;

  background-color: lightgreen;
  &:hover {
    background-color: lighten($color: lightgreen, $amount: 10);
  }
}

.minimize {
  @extend .titleBarButton;

  background-color: rgb(233, 224, 98);
  &:hover {
    background-color: lighten($color: rgb(233, 224, 98), $amount: 10);
  }
}
