/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #0b0c10;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.slide {
  height: 50px;
  margin: 10px;
}

.selected {
  padding: 10px;
  margin: 0;
  background-color: rgb(255, 207, 96);
}

.slider {
  width: 100%;
  height: 90px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #1f2833;
  scrollbar-width: 10px;
  display: flex;
  align-items: flex-start;
}

::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #66fcf1;
}
